@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um livro, deixe-se levar. Um novo mundo você vai encontrar!</p>
    <div class="Imagem">
        <img class="size= 500px" src="/img/book.png" />
    </div>
</div>
