@model IEnumerable<EmprestimosModel>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Ultima atualização</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {
            @foreach(var emprestimo in Model)
            {
                <tr>
                    <th scope="row">@emprestimo.Recebedor</th>
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.LivroEmprestado</td>
                    <td>@emprestimo.dataUltimaAtualizacao</td>
                </tr>
            }
        }
       

    </tbody>
</table>